<div
  [@notification]="notificationAlert !== '' ? 'open' : 'closed'"
  class="relative"
>
  <div
    class="z-[1] rounded-md fixed bottom-6 right-8 bg-gray-50 dark:bg-gray-700 shadow-md drop-shadow-md p-6 md:w-80 w-56 sm:w-64 box-border"
  >
    <div class="relative">
      <div (click)="onCloseWindow()" class="cursor-pointer fixed top-4 right-4">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="sm:h-4 sm:w-4 h-3 w-3 text-slate-400 hover:text-slate-500 dark:hover:text-slate-300"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
            clip-rule="evenodd"
          />
        </svg>
      </div>
      <div class="flex items-start">
        <div class="flex-shrink-0 flex items-start justify-center mr-2">
          <!--- Success Alert Icon -->
          <svg
            *ngIf="notificationAlert === 'SUCCESS_ALERT'"
            xmlns="http://www.w3.org/2000/svg"
            class="sm:h-5 sm:w-5 h-4 w-5 text-emerald-400"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
            />
          </svg>
          <svg
            *ngIf="notificationAlert === 'ERROR_ALERT'"
            xmlns="http://www.w3.org/2000/svg"
            class="sm:h-5 sm:w-5 h-4 w-5 text-rose-500"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
            />
          </svg>
        </div>
        <div class="flex-glow">
          <p class="sm:text-sm text-xs dark:text-slate-100">{{ message[0] }}</p>
          <p
            *ngFor="let m of message.slice(1)"
            class="text-xs font-light text-slate-500 dark:text-slate-300"
          >
            {{ m }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
